<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                <li><a id="menuToggle" class="open-btn">Menu</a></li>
                <li>Hello, {{ current_user.username }}</li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>

            {% endif %}
        </ul>
    </nav>
    <header>
        <h1>{% block title %}{% endblock %}</h1>

    </header>
    <main>
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% set latest_message = messages[-1] %}
                    <div class="flash-messages">
                        <div class="flash flash-{{ latest_message[0] }}">{{ latest_message[1] }}</div>
                    </div>
            {% endif %}
        {% endwith %}
        <!-- Block for extending content -->
        {% block content %}{% endblock %}
    </main>

    <!-- Include the sidebar content -->
    <div id="sidebar" class="sidebar">
        <div class="sidebar-header">
            <h2>Menu</h2>
            <span id="closeBtn" class="close-btn">&times;</span>
        </div>
        <ul class="sidebar-menu">
            <li><a href="#">My Teams</a></li>
            <li><a href="#">My Players</a></li>
        </ul>
    </div>

    <script>
        document.getElementById("menuToggle").onclick = function() {
            var sidebarWidth = document.getElementById("sidebar").style.width;
            if (sidebarWidth === "250px") {
                document.getElementById("sidebar").style.width = "0";
            } else {
                document.getElementById("sidebar").style.width = "250px";
            }
        }

        document.getElementById("closeBtn").onclick = function() {
            document.getElementById("sidebar").style.width = "0";
        }
        document.addEventListener('DOMContentLoaded', function() {
        var button = document.getElementById('GoToCreateTeam');
        var form = document.getElementById('GoToCreateTeamForm');

        button.addEventListener('click', function() {
            form.submit();
        });
    });
    </script>
</body>
</html>
