{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}
    <form method="POST" action="{{ url_for('signup') }}">
        <label for="username">Email:</label>
        <input type="text" id="email" name="email" required><br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <label for="password">Verify Password:</label>
        <input type="password" id="verify_password" name="verify_password" required><br>
        <button type="submit" class="new-instance">Sign Up</button>
    </form>
{% endblock %}
